/* Container */
.container {
  position: relative;
}
.section {
  padding: 16px;
}

.sectionTitle {
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
  margin: 0;
}

.draftWrapper {
  margin-top: 16px;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsl(0deg 0% 100% / 20%);
  backdrop-filter: blur(4px);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Nav */
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
}
.logo {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .section {
    padding: 24px;
  }
}
